@{
    Layout = null;
    <link href="~/css/style.css" rel="stylesheet" />

}

<section class="home-bg">
    <div class="content">
        <h3>Cleaning Made Easy</h3>
        <p>
            Expert home cleaners and handymen at a moment's notice.
            just book a schedule and we'll do the rest.
        </p>
        <div class="h-button">
            <a asp-action="Adduser" asp-contoller="User" class="h-btn">Book a Cleaning</a>
            <a asp-action="Index" asp-contoller="User" class="h-btn h-btn-2">View Bookings</a>
        </div>
    </div>
    <div class="gif">
        <img src="~/images/image_processing20210910-3161-1c8swoi.gif" alt="">
    </div>
</section>
